body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #000;
    font-family: sans-serif;
}

canvas {
    background: #111;
    border: 1px solid #444;
}
